---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/HeroSection.svelte";
import ClockSection from "../components/ClockSection.svelte";
import Welcome from "../components/Welcome.astro";
import ParentsSection from "../components/ParentsSection.astro";
import GodParents from "../components/GodParents.astro";
import ItinerarySection from "../components/ItinerarySection.svelte";
import Locations from "../components/Locations.astro";
import CodeDress from "../components/CodeDress.astro";
import GiftTable from "../components/GiftTable.svelte";
import Photo from "../components/Photo.svelte";
import Intro from "../components/Intro.astro";
import Confirmation from "../components/Confirmation.astro";
---

<Layout>
  <Intro />
  <HeroSection client:load />
  <div class="bg-white bg-[url('/img/noise-3.avif')] z-40 relative">
    <Welcome />
  </div>
  <ClockSection client:load />
  <ParentsSection />
  <GodParents />
  <ItinerarySection client:only="svelte" />
  <Locations />
  <GiftTable client:load />
  <CodeDress />
  <Photo client:load />
  <div class="bg-[#d38301] relative z-40">
    <div class="grid grid-cols-1 justify-center text-white">
      <h1 class="text-center sm:p-7 p-5 text-2xl font-serif2">
        Nos encantaría que nos acompañes en este día tan especial
      </h1>
    </div>
  </div>
  <div class="relative z-40">
    <Confirmation />
  </div>
</Layout>
