---
import Hero from "../components/Hero.astro";
import Intro from "../components/Intro.astro";
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <!-- <Intro /> -->
  <Hero />
  <div class="bg-white bg-[url('/img/noise-3.avif')]">
    <Welcome />
  </div>
</Layout>
