---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/HeroSection.svelte";
import ClockSection from "../components/ClockSection.svelte";
import Welcome from "../components/Welcome.astro";
import ParentsSection from "../components/ParentsSection.astro";
import GodParents from "../components/GodParents.astro";
import ItinerarySection from "../components/ItinerarySection.svelte";
---

<Layout>
  <!-- <Intro /> -->
  <HeroSection client:load />
  <div class="bg-white bg-[url('/img/noise-3.avif')] z-40 relative">
    <Welcome />
  </div>
  <ClockSection client:load />
  <ParentsSection />
  <GodParents />
  <ItinerarySection client:only="svelte" />
</Layout>
