<section class="text-center py-8 gap-4 flex flex-col relative bg-white z-40">
  <h3 class="text-3xl font-greatVibes">Código de vestimenta</h3>
  <div class="flex items-center flex-col gap-4">
    <img
      src="/img/vestimenta.png"
      alt="Imagen que indica el código de vestimenta que se debe usar, el cual indica que es formal"
      width={300}
      height={300}
    />
    <p class="text-xl font-semibold font-bodoni">Formal</p>

    <strong class="font-playfair font-bold text-2xl"
      >Respetuosamente NO NIÑOS</strong
    >
  </div>
</section>
