<section
  class="bg-white bg-[url(/fondo.jpg)] bg-top border-double border-y-8 border-[#A47E3B] relative"
>
  <div class="bg-white bg-opacity-50 w-full h-full absolute top-0"></div>
  <div class="relative flex flex-col items-center py-16 px-8">
    <div
      class="bg-white border-double border-4 rounded-md border-[#A47E3B] p-8 w-full"
    >
      <p class="font-gloock text-center text-3xl mb-6">¡Estás invitado!</p>
      <p class="font-gloock text-center text-xl mb-6">Te esperamos</p>
      <form class="flex flex-col">
        <div class="flex justify-center mt-8 w-full">
          <input
            type="text"
            placeholder="Pon tu nombre aquí"
            name="nombre"
            class="w-full p-4 border-[#A47E3B] border-2 border-solid rounded-md"
          />
        </div>
        <div class="my-8">
          <p class="mb-4 font-gloock">Favor de confirmar si...</p>
          <input
            type="radio"
            name="asistir"
            id="asistire"
            value="true"
            checked
          />
          <label for="asistire" class="font-gloock mr-4">Asistiré</label>
          <input type="radio" name="asistir" id="no-asistire" value="false" />
          <label for="no-asistire" class="font-gloock">No asistiré</label>
        </div>
        <div class="mb-10">
          <textarea
            class="w-full p-4 border-[#A47E3B] border-2 border-solid rounded-md"
            rows="8"
            name="mensaje"
            id="mensaje"
            placeholder="¡Dejale un mensaje a los novios!"></textarea>

          <p class="font-serif text-xl font-bold">
            No niños<span class="text-red-600">*</span>
          </p>
        </div>
        <input
          type="submit"
          value="Enviar"
          class="font-sans text-md px-4 py-2 bg-[#F6F4EB] rounded-full shadow-md active:scale-90 transition-all"
        />
      </form>
    </div>
  </div>
</section>

<script>
  const submitButton = document.querySelector(
    'input[type="submit"]'
  ) as HTMLButtonElement;

  submitButton.addEventListener("click", async (e) => {
    e.preventDefault();
    submitButton.value = "Enviando...";
    submitButton.disabled = true;

    const form = document.querySelector("form") as HTMLFormElement;
    const formData = new FormData(form);

    const response = await fetch("/api/comment", {
      method: "POST",
      body: formData,
    });
    const data = await response.text();
    console.log(data);

    if (data === "Comentario guardado") {
      submitButton.value = "¡Gracias por tu confirmación!";
      submitButton.disabled = true;
    }
  });
</script>
