---
import GodParentsCarousel from "./GodParentsCarousel.svelte";
---

<div class="bg-[#d38301] z-40 relative">
  <div class="grid grid-cols-1 justify-center text-white">
    <h1 class="text-center sm:p-7 p-6 text-2xl font-playfair">
      Compartir estos momentos con ustedes los hace inolvidables.
    </h1>
  </div>
</div>

<div class="bg-white z-40 relative">
  <div class="sm:w-1/2 w-full mx-auto pt-8 sm:p-10" id="section1">
    <h1 class="text-center font-greatVibes sm:py-2 py-1 text-6xl sm:text-7xl">
      Padrinos
    </h1>
  </div>
</div>
<GodParentsCarousel client:only="svelte" />
