<div
  class="bg-[url('/img/hero.jpeg')] w-full h-[80%] bg-cover bg-no-repeat bg-fixed bg-[left_calc(43%)_top_calc(50%)] shadow-inner-hero-lg flex items-center flex-col"
>
  <div class="flex">
    <h1
      id="hero-title"
      class="font-greatVibes text-white text-5xl mt-32 motion-duration-2000 motion-delay-1000"
    >
      Karen & Sergio
    </h1>
  </div>
  <div class="flex flex-grow items-end font-greatVibes text-white text-4xl">
    <h2 class="drop-shadow-2xl mb-12">05•03•2025</h2>
  </div>
</div>
