<div class="w-full h-screen shadow-inner-hero-lg flex items-center flex-col">
  <div
    class="fixed w-full h-full -z-50 bg-cover bg-center bg-no-repeat"
    style="background-image: url('/img/hero.jpeg');"
  >
  </div>
  <div class="flex">
    <h1
      id="hero-title"
      class="font-greatVibes text-center text-white text-6xl mt-20 motion-duration-2000 motion-delay-1000"
    >
      Sergio & Karen
    </h1>
  </div>
  <div class="flex flex-grow items-end font-greatVibes text-white text-4xl">
    <h2 class="drop-shadow-5xl mb-12">05•03•2025</h2>
  </div>
</div>
