<style>
  .suit-button {
    color: #333;
    background-color: rgb(234 179 8);
    border: 2px solid rgb(234 179 8);
    cursor: pointer;
    box-shadow:
      inset 0px 0px 5px rgb(234 179 8),
      /* Luz superior */ inset -0px -0px 5px rgba(0, 0, 0, 1),
      /* Sombra inferior */ 0px 0px 1px rgba(0, 0, 0, 1); /* Sombra exterior */
  }
</style>

<div
  id="wrapper"
  class="absolute top-0 left-0 w-screen h-screen z-50 overflow-hidden"
>
  <div class="w-full h-full relative">
    <div
      id="letter-left"
      class="absolute top-0 left-0 w-1/2 h-full bg-zinc-50 border-4 border-l-0 border-yellow-500 border-double transition-all duration-1000"
    >
    </div>
    <div
      id="letter-rigth"
      class="absolute top-0 left-1/2 w-1/2 h-full bg-zinc-50 border-4 border-r-0 border-yellow-500 border-double transition-all duration-1000"
    >
    </div>
    <button
      id="entry-point"
      class="absolute top-1/2 left-1/2 w-24 pr-2 h-24 -translate-x-1/2 -translate-y-1/2 origin-center bg-yellow-500 animate-scale-pulse rounded-full font-greatVibes font-extrabold text-lg shadow-2xl border suit-button"
      >S & K</button
    >
  </div>
</div>

<script>
  document.getElementById("entry-point")?.addEventListener("click", () => {
    document
      .getElementById("letter-rigth")
      ?.classList.toggle("translate-x-full");
    document
      .getElementById("letter-left")
      ?.classList.toggle("-translate-x-full");

    document
      .getElementById("entry-point")
      ?.classList.remove("animate-scale-pulse");
    document.getElementById("entry-point")?.classList.add("animate-rotate-out");
    setTimeout(() => {
      document.getElementById("wrapper")?.remove();
    }, 1000);

    document.getElementById("hero-title")?.classList.add("motion-preset-fade");

    document.body.classList.add("overflow-y-scroll");
  });
</script>
