<style>
  .suit-button {
    background-color: #bf920d;
    border: 5px solid rgb(191, 146, 13);
    cursor: pointer;
    box-shadow:
      inset 0px 0px 5px rgb(193, 148, 13),
      inset -0px -0px 20px 10px rgb(188 138 0),
      inset 0px 0px 0px 3px hsl(41.16deg 77.01% 29.77%);
  }
</style>

<div id="wrapper" class="fixed w-screen h-screen z-50 overflow-hidden">
  <div class="w-full h-full relative">
    <div
      id="letter-left"
      class="absolute top-0 left-0 w-1/2 h-full bg-zinc-50 border-r-4 border-[#bf920d] border-double transition-all duration-1000"
    >
    </div>
    <div
      id="letter-rigth"
      class="absolute top-0 left-1/2 w-1/2 h-full bg-zinc-50 border-l-4 border-[#bf920d] border-double transition-all duration-1000"
    >
    </div>
    <button
      id="entry-point"
      class="absolute top-1/2 left-1/2 w-24 h-24 -translate-x-1/2 -translate-y-1/2 origin-center animate-scale-pulse rounded-full font-bodoni font-extrabold text-lg shadow-2xl suit-button text-amber-100"
      >S & K</button
    >
  </div>
</div>

<script>
  document.getElementById("entry-point")?.addEventListener("click", () => {
    document
      .getElementById("letter-rigth")
      ?.classList.toggle("translate-x-full");
    document
      .getElementById("letter-left")
      ?.classList.toggle("-translate-x-full");

    document
      .getElementById("entry-point")
      ?.classList.remove("animate-scale-pulse");
    document.getElementById("entry-point")?.classList.add("animate-rotate-out");
    setTimeout(() => {
      document.getElementById("wrapper")?.remove();
    }, 1000);

    document.getElementById("hero-title")?.classList.add("motion-preset-fade");

    document.body.classList.add("overflow-y-scroll");
  });
</script>
