<div class="relative z-40 bg-white">
  <h1
    id="hero-title"
    class="font-greatVibes text-center text-6xl motion-duration-1500 mt-10 motion-preset-slide-right"
  >
    Ubicaciones
  </h1>

  <div class="grid sm:grid-cols-2 grid-cols-1 gap-10 sm:w-3/4 mx-auto">
    <div class="w-3/4 mx-auto">
      <div class="mb-2">
        <h1 class="text-center font-serif2 py-1 text-3xl sm:text-2xl">
          Iglesia
        </h1>
        <h1 class="text-center font-sansSerif1 py-1 text-xl sm:text-lg">
          3:00 PM
        </h1>
      </div>
      <img
        src="https://invitafy.com/24jo/BlancaIsrael/_app/immutable/assets/iglesia-085ecb2e.png"
        class="rounded-full w-3/4 mx-auto"
        alt=""
        style="box-shadow: black 1px 1px 15px; object-position: 40% 50%;"
      />
      <div class="mt-2">
        <h1 class="text-center font-serif2 py-1 text-2xl sm:text-3xl">
          Parroquia Santuario de Guadalupe
        </h1>
        <h1 class="text-center font-sansSerif1 py-1 text-base sm:text-lg">
          Azucena #80, 14 de Enero, 85930 Huatabampo, Son.
        </h1>
        <div class="flex justify-center items-center w-full py-1">
          <button
            class="bg-[#d38301] mr-2 font-sansSerif shadow-xl text-white p-2 rounded hover:bg-primary-900"
            ><i class="fas fa-church min-w-[25px] pr-1" aria-hidden="true"
            ></i>Ver ubicación</button
          >
        </div>
      </div>
    </div>

    <div class="w-3/4 mx-auto">
      <div class="mb-2">
        <h1 class="text-center font-serif2 py-1 text-3xl sm:text-2xl">
          Recepción
        </h1>
        <h1 class="text-center font-sansSerif1 py-1 text-xl sm:text-lg">
          8:00 PM
        </h1>
      </div>
      <img
        src="https://invitafy.com/24jo/BlancaIsrael/_app/immutable/assets/salon-7641b71b.png"
        class="rounded-full w-3/4 mx-auto"
        alt=""
        style="box-shadow: black 1px 1px 15px; object-position: 40% 50%;"
      />
      <div class="mt-2">
        <h1 class="text-center font-serif2 py-1 text-2xl sm:text-3xl">
          Rancho “El tabare”
        </h1>
        <h1 class="text-center font-sansSerif1 py-1 text-base sm:text-lg">
          El Tábare, Son.
        </h1>
        <div class="flex justify-center items-center w-full py-1">
          <button
            class="bg-[#d38301] mr-2 font-sansSerif shadow-xl text-white p-2 rounded hover:bg-primary-900"
            ><i
              class="fas fa-map-marker-alt min-w-[25px] pr-1"
              aria-hidden="true"></i>Ver ubicación</button
          >
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="grid grid-cols-1 p-1 justify-center sm:w-1/2 mx-auto text-black z-40"
>
  <h1 class="text-center sm:p-7 p-6 text-2xl font-serif2">
    ¡Que nos acompañes es lo más importante! Y si está en tu disposición
    realizar una muestra de cariño estaremos muy agradecidos
    <img src="img/division.png" class="w-36 p-1 mx-auto" alt="" />
  </h1>
</div>
