<div class="relative z-40 bg-white">
  <h1
    id="hero-title"
    class="font-greatVibes text-center text-6xl motion-duration-1500 mt-10 motion-preset-slide-right"
  >
    Ubicaciones
  </h1>

  <div class="grid sm:grid-cols-2 grid-cols-1 gap-10 sm:w-3/4 mx-auto">
    <div class="w-3/4 mx-auto">
      <div class="mb-2">
        <h1 class="text-center font-serif2 py-1 text-3xl sm:text-2xl">
          Iglesia
        </h1>
        <h1 class="text-center font-sansSerif1 py-1 text-xl sm:text-lg">
          3:00 PM
        </h1>
      </div>
      <img
        src="https://lh5.googleusercontent.com/p/AF1QipM3Pt3I-WXGipMMUSFKFxTFIBtpZ8WZs_bRJBBM=w408-h300"
        class="rounded-full w-3/4 mx-auto h-[179px]"
        alt=""
        style="box-shadow: black 1px 1px 15px; object-position: 40% 50%;"
      />
      <div class="mt-2">
        <h1 class="text-center font-serif2 py-1 text-2xl sm:text-3xl">
          Iglesia Cristo Rey
        </h1>
        <h1 class="text-center font-sansSerif1 py-1 text-base sm:text-lg">
          Benito Juárez García sn, Centro, 85900 Huatabampo, Son.
        </h1>
        <div class="flex justify-center items-center w-full py-1">
          <a
            class="bg-[#d38301] mr-2 font-sansSerif shadow-xl text-white p-2 rounded hover:bg-primary-900"
            href="https://www.google.com/maps/place/Iglesia+Cat%C3%B3lica+Cristo+Rey/@26.8266812,-109.6429519,17z/data=!3m1!4b1!4m6!3m5!1s0x86b78b95cd7d192b:0x141d985f35ff56d5!8m2!3d26.8266812!4d-109.6429519!16s%2Fg%2F12hn4hggx?entry=ttu&g_ep=EgoyMDI1MDEyOS4xIKXMDSoASAFQAw%3D%3D"
            ><i class="fas fa-church min-w-[25px] pr-1" aria-hidden="true"
            ></i>Ver ubicación</a
          >
        </div>
      </div>
    </div>

    <div class="w-3/4 mx-auto">
      <div class="mb-2">
        <h1 class="text-center font-serif2 py-1 text-3xl sm:text-2xl">
          Recepción
        </h1>
        <h1 class="text-center font-sansSerif1 py-1 text-xl sm:text-lg">
          8:00 PM
        </h1>
      </div>
      <img
        src="https://invitafy.com/24jo/BlancaIsrael/_app/immutable/assets/salon-7641b71b.png"
        class="rounded-full w-3/4 mx-auto"
        alt=""
        style="box-shadow: black 1px 1px 15px; object-position: 40% 50%;"
      />
      <div class="mt-2">
        <h1 class="text-center font-serif2 py-1 text-2xl sm:text-3xl">
          Rancho “El tabare”
        </h1>
        <h1 class="text-center font-sansSerif1 py-1 text-base sm:text-lg">
          El Tábare, Son.
        </h1>
        <div class="flex justify-center items-center w-full py-1">
          <a
            class="bg-[#d38301] mr-2 font-sansSerif shadow-xl text-white p-2 rounded hover:bg-primary-900"
            href="https://www.google.com/maps/place/Tabare+Ranch/data=!4m2!3m1!1s0x0:0x132eaa47d721d207?sa=X&ved=1t:2428&ictx=111"
            ><i
              class="fas fa-map-marker-alt min-w-[25px] pr-1"
              aria-hidden="true"></i>Ver ubicación</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="grid grid-cols-1 p-1 justify-center sm:w-1/2 mx-auto text-black z-40"
>
  <h1 class="text-center sm:p-7 p-6 text-2xl font-serif2">
    ¡Que nos acompañes es lo más importante! Y si está en tu disposición
    realizar una muestra de cariño estaremos muy agradecidos
    <img src="img/division.png" class="w-36 p-1 mx-auto" alt="" />
  </h1>
</div>
