<div
  class="bg-white py-5 text-black sm:bg-[left_calc(50%)_top_calc(40%)] bg-[left_calc(40%)_top_calc(40%)] sm:min-h-[30vh] min-h-[50vh] bg-cover relative w-full z-30"
>
  <div class="flex sm:p-5 p-5">
    <div class="grid grid-cols-1 w-full mx-auto content-center">
      <div>
        <h1
          class="text-center font-greatVibes sm:py-2 py-1 text-3xl sm:text-4xl"
        >
          Con la bendición de Dios y de nuestros padres
        </h1>
        <img src="/img/division.png" class="w-40 mx-auto" alt="" />
      </div>

      <div class="grid sm:grid-cols-2 grid-cols-1 sm:w-1/2 mx-auto">
        <div>
          <h1
            class="text-center font-raleway sm:py-2 py-1 text-base sm:text-xl"
          >
            Padres de la novia
          </h1>
          <h1
            class="text-center font-playfair sm:py-2 py-1 text-2xl sm:text-3xl"
          >
            Edna Patricia Grijalva Ruíz
          </h1>
          <h1
            class="text-center font-playfair sm:py-2 py-1 text-2xl sm:text-3xl"
          >
            Wilfredo Diego Castro Duarte
          </h1>
        </div>
        <div>
          <h1
            class="text-center font-raleway sm:py-2 py-1 mt-5 text-base sm:text-xl"
          >
            Padres del novio
          </h1>
          <h1
            class="text-center font-playfair sm:py-2 py-1 text-2xl sm:text-3xl"
          >
            Carolina Valenzuela Barreras
          </h1>
          <h1
            class="text-center font-playfair sm:py-2 py-1 text-2xl sm:text-3xl"
          >
            Sergio Villegas Villegas
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>
