<section class="grid grid-cols-1 justify-center bg-white">
  <h1 class="text-center sm:p-7 p-6 text-xl font-playfair">
    Aquí comienza nuestro gran <br /> “Felices para siempre”
    <img src="/img/division.png" class="w-36 p-1 mx-auto" alt="" />
  </h1>
</section>
