---
import "@fontsource/great-vibes";
import "@fontsource-variable/playfair-display";
import "@fontsource-variable/raleway";
import "@fontsource-variable/bodoni-moda";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Invitación de boda de Karen y Sergio" />
    <meta name="author" content="Kevin Acosta Luna" />
    <meta property="og:title" content="Nuestra Boda | Sergio y Karen" />
    <meta
      property="og:description"
      content="Invitación de boda de Karen y Sergio"
    />
    <meta
      property="og:image"
      content="https://invitacion-karen-sergio.vercel.app/img/hero.jpeg"
    />
    <meta
      property="og:url"
      content="https://invitacion-karen-sergio.vercel.app"
    />
    <meta property="og:type" content="website" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Nuestra boda | Sergio y Karen</title>
  </head>
  <body>
    <slot />
  </body>
  <script
    defer
    src="https://unpkg.com/tailwindcss-intersect@2.x.x/dist/observer.min.js"
  ></script>
  <script defer src="https://cdn.lordicon.com/lordicon.js"></script>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
